.container {
  display: flex;
  background-color: rgb(223, 187, 193);
  }
  
  .name {
      border: 5px solid;
      margin: auto;
      width: 50%;
      padding: 10px;
  }
  
  .contact {
      display: flex;
      left: 1000 px;
  }
  
  .tel {
      display: flex  
  }
  
  .mail {
      display: flex  
  }
  
  .adress {
      display: flex  
  }
  
  
  .parent{
  
    border: 1px solid black;
    background-color: rgb(247, 239, 240);
    margin: 1rem;
      padding: 2rem 2rem;
      text-align: center;
    }
    

    
    .child {
        display: inline-block;
        border: 3px solid rgb(175, 147, 152);
        padding: 1rem 1rem;
        vertical-align: middle;
      }
  
  
  